    /*     début du main     */
main {
  height: 100%;
  margin: auto;
  padding: 0px;
  overflow-x: scroll;
}
main .accueil {
  background: url("https://cdn.pixabay.com/photo/2014/05/03/00/42/photography-336608_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  filter: contrast(70%);
  /*height: 120%;*/
}
main .accueil .intro__box {
    padding: 20px 5px;
  }
main .accueil .intro__box .space__title {
  padding-top: 100px;
}
main .accueil .intro__box .space__title .accueil__title {
  margin: 11vh auto 20px;
  text-align: center;
  height: auto;
  color: black;
  background-color: rgba(255, 250, 250, 0.5);
  border-radius: 25px;
  font-size: 2.3rem;
}
main .accueil .intro__box .accueil__description {
  text-align: center;
  color: black;
  margin: 20px auto;
  font-size: 1.2rem;
  background-color: rgba(255, 250, 250, 0.5);
  border-radius: 25px;
}
main .accueil .intro__box .accueil__description :nth-last-child(2) {
  margin: 0px auto 30px;
  font-size: 1.2rem;
}
main .accueil .intro__box .accueil__description :nth-last-child(3) {
  margin: 0px auto 10px;
  font-size: 1.2rem;
}
main .accueil .intro__box .accueil__description :nth-last-child(1) {
  font-size: 16px;
  font-weight: bold;
  color: #530101;
  margin: 0px auto 55px;
}
@media (min-width: 320px) and (max-width: 411px) {
  main {
    margin: 40px auto -44px;
}
  main .accueil .intro__box {
    padding: 5px auto 40px; 
    margin: -90px auto auto auto;
    height: 100%;
  }
  main .accueil .intro__box .space__title {
    margin-top: 20px;
  }
  main .accueil .intro__box .space__title .accueil__title {
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 250, 250, 0.5);
    border-radius: 25px;
  }
  main .accueil .intro__box .accueil__description {
    font-size: 14px;
    background-color: rgba(255, 250, 250, 0.5);
    border-radius: 25px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(2) {
    margin: 0px auto 30px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(3) {
    margin: 0px auto 10px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #530101;
  }
}
@media (min-width: 411px) and (max-width: 414px) {
  main {
    margin: 15px auto -10px;
  }
  main .accueil .intro__box {
    padding: 43px 10px 70px;
    margin: -110px auto -40px auto;
    height: 100%;
}
footer {
  margin: 0px auto;
}
}
@media (min-width: 414px) and (max-width: 475px) {
  main {
    margin: 40px auto -35px;
}
  main .accueil .intro__box {
    padding: 5px 10px 105px;
    margin: -110px auto 0px auto;
    height: 100%;
}
}
@media (min-width: 600px) and (max-width: 736px) {
  main .accueil .intro__box {
    padding: 110px 10px 140px;
    margin: -110px auto 0px auto;
    
}
}
@media (min-width: 1920px) and (max-width: 2440px) {
  main .accueil {
    height: 100%;
  }
}
/*     fin du main     */
